.HomeTitle {
  color: var(--font-color-main);
  font-weight: 500 !important;
}
.glowing {
  animation: glow 2s ease-in-out infinite alternate;
}

/* Buttons */
/* BestSellers */
.bestSellerButton {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: var(--inner-color);
  color: var(--font-color-main);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
}

.bestSellerButton:hover {
  background-color: var(--font-color-animation);
  color: white;
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 20px var(--font-color-animation);
}

.bestSellerButton:active {
  transform: translateY(0) scale(0.98);
}

/* ICONS */
/* ICONA SCUDO */
.bi-shield-check {
  position: relative;
  display: inline-block;

  /* Applichiamo la transizione di zoom sull'elemento intero */
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* 1. ICONA DI BASE SCUDO */
.bi-shield-check::before {
  content: "\f52f";
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* 2. SECONDA ICONA SOVRAPPOSTA */
.bi-shield-check::after {
  content: "\f536" !important;
  position: absolute;
  font-family: "bootstrap-icons" !important;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  /* RESET ICON BOOTSTRAP */
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}

/* 3. EFFETTO HOVER: Inversione icone + ZOOM */
.bi-shield-check:hover {
  transform: scale(1.25);
}

.bi-shield-check:hover::before {
  opacity: 0;
}

.bi-shield-check:hover::after {
  opacity: 1;
}

/* ICONA Fulmine  */
.bi-lightning {
  position: relative;
  display: inline-block;

  /* Applichiamo la transizione di zoom sull'elemento intero */
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* 1. ICONA DI BASE SCUDO */
.bi-lightning::before {
  content: "\f46f";
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* 2. SECONDA ICONA SOVRAPPOSTA */
.bi-lightning::after {
  content: "\f46e" !important;
  position: absolute;
  font-family: "bootstrap-icons" !important;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  /* RESET ICON BOOTSTRAP */
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
}

/* 3. EFFETTO HOVER: Inversione icone + ZOOM */
.bi-lightning:hover {
  transform: scale(1.25);
}

.bi-lightning:hover::before {
  opacity: 0;
}

.bi-lightning:hover::after {
  opacity: 1;
}

/* ICONA CUFFIE */
/* animation */
.bi-headset {
  position: relative;
  display: inline-block;

  /* Applichiamo la transizione di zoom sull'elemento intero */
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

/* 1. ICONA DI BASE SCUDO */
.bi-headset::before {
  content: "\f46f";
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.bi-headset:hover {
  transform: scale(1.25);
}

/* Bestseller Section */
.badgeCardCategory {
  background-color: var(--card-badge);
  border-radius: 5px;
  color: white;
}
.floating {
  display: inline-block;
  animation: floatBadge 3s ease-in-out infinite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}
/*  */
/*  */
/*  */
/* ANIMATION */
@keyframes glow {
  from {
    text-shadow:
      0 0 0px var(--font-color-animation),
      0 0 2px var(--font-color-animation),
      0 0 5px var(--font-color-animation),
      0 0 10px var(--font-color-animation),
      0 0 14px var(--font-color-animation),
      0 0 18px var(--font-color-animation);
  }
  to {
    text-shadow:
      0 0 0px rgba(255, 255, 255, 0.301),
      0 0 5px rgba(255, 255, 255, 0.301),
      0 0 10px var(--font-color-animation),
      0 0 20px var(--font-color-animation),
      0 0 25px var(--font-color-animation),
      0 0 27px var(--font-color-animation);
  }
}
@keyframes floatBadge {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
