:root {
  --background-color: #f8f8f8;
  --inner-color: #ededed;
  --padding-container: 3rem;
  --button-color: #222222;
  --button-color-hover: #383838;
  --font-color-main: #222222;
  --badge-bestseller: #3b3b3b;
  --button-color-2: #aaaaaa;
  --font-color-animation: #b3b3b3;
}
/* FONTS */

.Outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.Sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* BACKGROUND */
body {
  background-color: var(--background-color);
}

.buttonBasic {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: var(--button-color);
  color: white;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.buttonBasic:hover {
  background-color: var(--button-color-hover);
}

/* Container */
.mainContainer {
  justify-content: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: var(--padding-container);
  padding-left: var(--padding-container);
  transition: padding 0.5s ease;
}
/* Medias */
@media screen and (max-width: 500px) {
  .mainContainer {
    padding-right: 10px;
    padding-left: 10px;
  }
}
